<!DOCTYPE html>
<html>
<head>
  <title>Event Manager 2.0</title>
</head>
<body>
  <h1>Event schedule</h1>

  <table>
  	<% @schedule.each do |scheduled| %>
  		<tr>
  			<% scheduled.each do |item| %>
  			<td><%= item %></td>
  			<% end %>
  		</tr>
  	<% end %>



    <tr>
      <td>8pm</td>
      <td>Doors open</td>
    </tr>
    <!-- etc. etc. -->
  </table>

</body>
</html>